<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <script src="../script/script.js"></script>
</head>
<body>
<div class="logo">
    <img id="logoPNG" src="../assets/image.png" alt="logo">
</div>
<div class="container jumbotronHeader">
    <div class="jumbotron" style="background-color: rgba(0,0,14,0.56)">
        <h1 class="display-4 text-center">Hier entsteht etwas neues! </h1>
        <div class="mt-5">
            <div style="margin:auto">
                <div class="one spin-one"></div>
                <div class="two spin-two"></div>
                <div class="three spin-one"></div>
            </div>
        </div>
    </div>
</div>
<section class="container service-offerings">

        <div class="row">
            <div class="row service-category">
                <div class="service-details">
                    <a class="iconInfo"><i class="iconInfoIcon far fa-lightbulb"></i></a>
                    <p class="services-list mt-5">
                        Bei der Entwicklung unserer Produkte setzen wir auf Innovation und Qualität, damit unsere Kunden stets am Puls der Zeit sind.<br><br>
                        Die stetige Kommunikation mit unseren Kunden unterstützt uns bei unserem Anspruch, die Arbeit in Zahnarztpraxen, Dentallaboren und Fräscentren zu vereinfachen und zu erleichtern. Denn wir nehmen Ihre Wünsche und Anregungen ernst und arbeiten immer daran, diese so nutzbringend und sicher wie möglich umzusetzen. <br>
                        <br>
                        Dabei profitieren unsere Kunden von der Tatsache dass wir kein Großunternehmen, sondern ein inhabergeführter, mittelständischer Betrieb sind. Dies erhöht unsere Flexibilität und die Qualität der Kommunikation hausintern sowie mit unseren Kunden.<br><br>
                        <br>
                        Ihr Robert H. Lemmer
                    </p>
                </div>
            </div>
        </div>
</section>
<footer>
    <div class="bg-dark text-white px-4 py-5 text-center">
        <div class="container-fluid">
                <ul class="row">
                    <li class="col-lg-4 col-md-12 mt-5">
                        <h4>
                            Creamed Verwaltungs- und Beteiligungs- GmbH
                        </h4>
                        <p>
                        <br>
                        Industriestraße 4A <br>
                        35041 Marburg

                        </p>
                    </li>
                    <li class="col-lg-4 col-md-12 mt-5">
                        <h4>
                            Öffnungszeiten
                        </h4>
                        <br>
                        <h5>Montag - Sonntag</h5>
                        <p>
                            09:00–18:00
                        </p>
                    </li>
                    <li class="col-lg-4 col-md-12 mt-5">
                        <h4>
                            Erreiche uns auch über Social Media!
                        </h4>

                        <a class="mt-5 mr-5"  href=""><i class=" iconFooter fab fa-instagram fa-3x"></i></a>
                        <a class="mt-5" href=""><i class=" iconFooter fab fa-facebook-f fa-3x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
</footer>
</body>
</html>